
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^motarey\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.motarey\.com$
RewriteRule ^/?$ "https\:\/\/motarey\.com\/" [R=301,L]

